<div class="float-right"><a [href]="server.getServersURL()" target="source">Source</a></div>
<h1>Servers</h1>
<table class="table table-striped table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Version</th>
      <th>StartTime</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let server of state.servers">
      <td><a href="http://{{server.address}}:{{server.managePort}}/manage/ui" target="{{server.hostname}}">{{server.hostname}}</a></td>
      <td>{{server.serviceType}}</td>
      <td>{{server.version}} [{{server.commitId}}]</td>
      <td>{{server.startTime | date:'medium'}}</td>
      <td>
        <a href="#" (click)="copySSH(server)" ngxClipboard [cbContent]="'ssh '+server.address">SSH</a>
        |
        JMX | Trace | Threads | Env | Swagger </td>
    </tr>
  </tbody>
</table>
