<div class="float-right"><a [href]="server.getServersURL()" target="source">Source</a></div>
<br/>
<dtable
  [title]="'Servers in '+(state.env | uppercase)"
  [columns]="[
    { title: 'Name', filterable: true, property: 'hostname'},
    { title: 'Type', filterable: true, property: 'serviceType'},
    { title: 'Version', filterable: true, property: 'version'},
    { title: 'StartTime'},
    { title: 'Actions'}
  ]"
  [data]="state.servers"
  [template]="rows">
  <ng-template #rows let-server="row">
    <td><a href="http://{{server.address}}:{{server.managePort}}/manage/ui" target="{{server.hostname}}">{{server.hostname}}</a></td>
    <td>{{server.serviceType}}</td>
    <td>{{server.version}} [{{server.commitId}}]</td>
    <td>{{server.startTime | date:'medium'}}</td>
    <td>
      <a href="#" (click)="copySSH(server)" ngxClipboard [cbContent]="'ssh '+server.address">SSH</a>
      |
      JMX | Trace | Threads |
      <a href="#" (click)="showEnv(server)">Env</a>
      | Swagger </td>
  </ng-template>
</dtable>
