<div class="card">
  <div *ngIf="title != null || hasFilters()" class="card-header">
    <i class="fa fa-align-justify"></i> {{title}}
    <ng-container *ngIf="hasFilters()">[{{filtered.length}}/{{data.length}}]</ng-container>
    <label *ngIf="hasFilters()" class="switch switch-sm switch-text switch-info float-right mb-0">
      <input type="checkbox" class="switch-input" (click)="toggleFilter()">
      <span class="switch-label" data-on="On" data-off="Off"></span>
      <span class="switch-handle"></span>
    </label>
  </div>
  <div class="card-body">
    <table class="table table-sm table-hover table-striped">
      <thead>
      <tr>
        <th *ngFor="let column of columns">{{column.title}}</th>
      </tr>
      <ng-container *ngIf="filtersVisible">
          <th *ngFor="let column of columns">
            <input *ngIf="column.filterable" [(ngModel)]="filters[column.property]" (keydown)="filterItems()" class="form-control form-control-sm">
          </th>
      </ng-container>
      </thead>
      <tbody>
      <tr *ngFor="let row of filtered">
        <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{row: row }"></ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</div>
