<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-md-2">
          <div class="card text-white bg-info">
            <div class="card-body">
              <div class="h1 text-muted text-right mb-4">
                <i class="icon-people"></i>
              </div>
              <div class="h4 mb-0">87.500</div>
              <small class="text-muted text-uppercase font-weight-bold">Visitors</small>
              <div class="progress progress-white progress-xs mt-3">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div><!--/.col-->
        </div>
<div class="row">
    <div class="col-md-12 mb-6">
      <!-- Nav tabs -->
      <tabset>
        <tab heading="Home">
            <div class="card">
                <div class="card-header">
                  <i class="fa fa-align-justify"></i> Condensed Table
                  <label class="switch switch-sm switch-text switch-info float-right mb-0">
                      <input type="checkbox" class="switch-input" (click)="toggleFilter()">
                      <span class="switch-label" data-on="On" data-off="Off"></span>
                      <span class="switch-handle"></span>
                    </label>
                </div>
                <div class="card-body">
                  <table class="table table-sm table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Username</th>
                        <th>Date registered</th>
                        <th>Role</th>
                        <th>Status</th>
                      </tr>
                      <tr *ngIf="filterVisible">
                          <th><input class="form-control" placeholder="Name filter"></th>
                          <th><input class="form-control" placeholder="Name filter"></th>
                          <th><input class="form-control" placeholder="Name filter"></th>
                          <th></th>
                        </tr>
                      </thead>
                    <tbody>
                      <tr (click)="openModal()">
                        <td>Carwyn Fachtna</td>
                        <td>2012/01/01</td>
                        <td>Member</td>
                        <td>
                          <span class="badge badge-success">Active</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Nehemiah Tatius</td>
                        <td>2012/02/01</td>
                        <td>Staff</td>
                        <td>
                          <span class="badge badge-danger">Banned</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Ebbe Gemariah</td>
                        <td>2012/02/01</td>
                        <td>Admin</td>
                        <td>
                          <span class="badge badge-secondary">Inactive</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Eustorgios Amulius</td>
                        <td>2012/03/01</td>
                        <td>Member</td>
                        <td>
                          <span class="badge badge-warning">Pending</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Leopold Gáspár</td>
                        <td>2012/01/21</td>
                        <td>Staff</td>
                        <td>
                          <span class="badge badge-success">Active</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

            <button class="btn btn-primary" data-toggle="modal" (click)="openModal()">Open Modal</button>

        </tab>
        <tab heading="Profile">
          2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </tab>
        <tab heading="Messages">
          3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </tab>
      </tabset>
    </div>
  </div>
</div>


<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 90%" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{value}}</p>
          <button class="btn btn-primary" data-toggle="modal" (click)="openSmall()">Open Modal</button>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  


<div bsModal #smallModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{value}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
