  <ul class="nav navbar-nav d-md-down-none">
      <li class="nav-item dropdown px-3" dropdown placement="bottom right">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
            {{state.env | uppercase }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-left" *dropdownMenu aria-labelledby="simple-dropdown">
            <div class="dropdown-header text-center"><strong>CLUSTER</strong></div>
            <li *ngFor="let env of state.envs" (click)="setEnv(env)">
              <a>{{env}}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown px-3" dropdown placement="bottom right">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
              {{serviceName() | uppercase}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-left" *dropdownMenu aria-labelledby="simple-dropdown">
              <div class="dropdown-header text-center"><strong>Service Type</strong></div>
              <li>
                <a (click)="setService(null)" class="dropdown-item">All</a>
              </li>
              <li *ngFor="let service of state.services" (click)="setService(service)">
                <a class="dropdown-item" href="#">{{service}}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown px-3" dropdown placement="bottom right">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
                {{hostName() | uppercase}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-left" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center"><strong>Host</strong></div>
                <li>
                  <a (click)="setHostname(null)" class="dropdown-item" href="#">All</a>
                </li>
                <li *ngFor="let hostname of state.hostnames" (click)="setHostname(hostname)">
                    <a class="dropdown-item" href="#">{{hostname}}</a>
                </li>
              </ul>
            </li>
  </ul>
